@font-face {
    font-family: Poppins-M;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(fonts/Poppins-Light.ttf);
}

:root{
    --clr-blue: rgb(56, 56, 255);
    --clr-blue-light: #0E62FD;
    --clr-darker-blue-2: #2f78ff;
    --clr-darker-blue: rgb(45, 45, 196);
    --clr-transparent-blue: rgba(146, 125, 255, 0.145);
    --clr-super-transparent-blue: rgba(45, 45, 196, 0.382);
    --clr-alive-blue: #367cff;
    --clr-stylish-gray: rgb(63, 63, 63);
    --clr-blacker-gray: rgb(50, 50, 50);
    --clr-beautiful-purple: #5025D1;
    --clr-darker-pink: #D33061;
}

::selection{
    color: white;
    background-color: rgb(30, 30, 30);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: white;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid lightgray;
    box-shadow: 2px 0.2px 2px rgba(0, 0, 0, 0.4);
}

.header .main-header-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header .main-header-content .navbar{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.header .main-header-content .navbar a{
    padding: 7px 35px;
    font-family: Poppins-M;
    color: gray;
    text-decoration: none;
    transition: color 0.25s;
    padding: 15px;
}

.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--clr-blue);
    display: block;
    transition: 0.25s ease;
}

.navbar a:hover:after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--clr-blue);
    display: block;
}

.header .main-header-content .navbar a:hover{
    color: var(--clr-blue);
}

.main-header-content .buttons{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.main-header-content .buttons .button-1 .main-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Poppins-M;
    font-size: 15px;
    background-color: white;
    color: var(--clr-blue);
    padding: 0 0px;
    cursor: pointer;
    border: 1px solid var(--clr-blue);
    width: 100px;
    height: 60px;
}

.main-header-content .buttons .button-2 button{
    font-family: Poppins-M;
    font-size: large;
    background-color: var(--clr-blue);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    padding: 6px 25px;
    transition: background-color 0.25s;
}

.main-header-content .buttons .button-2 button:hover{
    background-color: var(--clr-darker-blue);
}

#link-button-icon{
    filter: invert(27%) sepia(97%) saturate(6516%) hue-rotate(237deg) brightness(100%) contrast(103%);
}

.main-header-content .buttons .button-1, .button-2{
    margin: 10px;
}

.main-content{
    font-family: Poppins-M;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.main-content .main-div{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.main-content .main-div h3{
    color: gray;
}

.main-content .main-div .inovacao-label{
    color: var(--clr-blue);
}

.main-content .main-div .inovacao-label:hover{
    cursor: text;
}

.main-content .main-div .up-text{
    margin-bottom: 20px;
}

.main-content .main-div .main-text{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 40px;
    color: var(--clr-stylish-gray);
}

.main-content .main-div .down-text{
    font-size: 15px;
    font-family: Poppins-Light;
    color: var(--clr-stylish-gray);
    margin-bottom: 10px;
}

.main-div-button button{
    margin-top: 10px;
    font-size: 16px;
    font-family: Poppins-M;
    padding: 7px 22px;
    background-color: var(--clr-blue-light);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease;
}

.main-div-button button:hover{
    transform: scale(1.1);
}

.doctor-img{
    display: flex;
    justify-content: left;
    width: 30%;
    height: 500px;
}

.container-box{
    background-color: var(--clr-transparent-blue);
    width: 70%;
    height: 300px;
    margin: 30px auto auto auto;
    display: flex;
    justify-content: center;
}

.container-box .container-elements{
    font-family: Poppins-M;
    display: flex;
    flex-direction: row;
    padding: 35px 30px;
    gap: 100px;
}

.container-box .container-elements .container-element-1{
    width: 33.3%;
}

.container-box .container-elements .container-element-2{
    width: 33.3%;
}

.container-box .container-elements .container-element-3{
    width: 33.3%;
}

.container-box .container-elements .container-element-2 h4{
    color: rgb(156, 156, 156);
    font-family: Poppins-Light;
    transition: color 0.25s;
    cursor: pointer;
}

.container-box .container-elements .container-element-2 h4:hover{
    color: var(--clr-stylish-gray);
}

.container-box .container-elements .container-element-3 h4{
    font-family: Poppins-Light;
    color: rgb(156, 156, 156);
    transition: 0.3s;
    cursor: pointer;
}

.container-box .container-elements .container-element-3 h4:hover{
    color: var(--clr-stylish-gray);
}

.middle-content{
    font-family: Poppins-M;
    margin-top: 40px;
    margin-bottom: 60px;
}

.middle-content h4{
    color: gray;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
}

.middle-content h2{
    text-align: center;
    font-size: 40px;
    color: var(--clr-stylish-gray);
    font-weight: bolder;
}

.middle-content h2 label{
    color: var(--clr-alive-blue);
    cursor: text;
}

.apps-section-box{
    font-family: Poppins-M;
    background-color: white;
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    justify-content: center;
}

.apps-section-box .apps-section-box-content .content-1{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.apps-section-box .apps-section-box-content .content-1 h5{
    font-family: Poppins-Light;
    color: gray;
    transition: 0.25s;
    cursor: pointer;
    margin-top: 20px;
    line-height: 25px;
}

.apps-section-box .apps-section-box-content .content-1 .content-1-text{
    border: 1px solid rgb(247, 247, 247);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.apps-section-box .apps-section-box-content .content-1 .content-1-text h3{
    font-size: 24px;
    color: var(--clr-stylish-gray);
}

.apps-section-box .apps-section-box-content .content-1 .content-1-text:hover h5{
    color: var(--clr-stylish-gray);
}

.content-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-2-text{
    border: 1px solid rgb(247, 247, 247);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.content-2-text h3{
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--clr-stylish-gray);
}

.content-2-text h5{
    font-family: Poppins-Light;
    font-size: 13px;
    margin-right: 10px;
    margin-left: -9px;
    color: gray;
    line-height: 25px;
    transition: color 0.25s;
    cursor: pointer;
    padding: 10px;
}

.content-2-text:hover h5{
    color: var(--clr-stylish-gray);
}

.content-3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.content-3-text{
    border: 1px solid rgb(247, 247, 247);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
}

.content-3-text h3{
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--clr-stylish-gray);
}

.content-3-text h5{
    font-family: Poppins-Light;
    color: gray;
    line-height: 25px;
    transition: 0.25s;
}

.content-3-text:hover h5{
    color: var(--clr-stylish-gray);
}

.plans-text{
    font-family: Poppins-M;
    text-align: center;
}

.plans-text h4{
    font-size: 16px;
    color: gray;
    font-weight: bolder;
}

.plans-text h2{
    font-size: 35px;
    color: var(--clr-stylish-gray);
    font-weight: bolder;
}

.plans-text h2 label{
    color: var(--clr-blue-light);
}

.pricing-max-container{
    display: flex;
    justify-content: center;
    font-family: Poppins-M;
}

.pricing-max-container .pricing-section{
    width: 80%;
    height: 1000px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-toggler-sec{
    display: flex;
    justify-content: center;
    width: 230px;
    height: 50px;
    margin-top: 5px;
}

.pricing-toggler-sec .pricing-toggler{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
}

.pricing-toggler-sec .pricing-toggler div:hover{
    cursor: pointer;
}

.box-active{
    background-color: var(--clr-blue-light);
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.50s;
}

.pricename{
    padding: 10px 15px;
}

.pricename:active{
    border: 0.5px solid gray;
}

.pricing-tables-container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    justify-content: center;
}

.pricing-tables{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 15px;
}

.pricing-tables .pricing-table{
    background-color: white;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 5px;
    width: 35%;
    height: 100%;
    margin: 0 15px 0 15px;
}

.pricing-table .pricing-table-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.high-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.high-texts .main-cnt-txt{
    font-size: 25px;
    color: var(--clr-blacker-gray);
}

.high-texts .del-txt{
    color: gray;
}

#ecnmz-1{
    background-color: var(--clr-super-transparent-blue);
    color: var(--clr-blue-light);
    display: inline;
    width: fit-content;
    height: fit-content;
    font-weight: lighter;
}

.main-pric-tab-area{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(173, 173, 173);
    padding-bottom: 10px;
}

.main-pric-tab-area div, span, button{
    margin: 10px 0;
}

.dvmes{
    display: none;
}

.main-pric-tab-area h2{
    color: var(--clr-blue-light);
    font-weight: bolder;
}

.main-pric-tab-area .price{
    display: inline-block;
    font-size: 50px;
}

.paragraph{
    color: gray;
    align-self: center;
}

.btn{
    background-color: var(--clr-blue-light);
    font-family: Poppins-M;
    font-weight: bolder;
    padding: 15px 35px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-2{
    background-color: var(--clr-beautiful-purple);
}

#btn-3{
    background-color: var(--clr-darker-pink);
}

.list-main-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.list-main-container label{
    font-size: 20px;
}


.main-list{
    margin: 10px;
}

.main-list ul li{
    list-style-type: none;
    margin-bottom: 10px;
}

.main-list ul li::before{
    content: '\2714';
}

#h4-2{
    color: #5025D1;
}

.business-plan-max-container{
    display: flex;
    justify-content: center;
    height: fit-content;
}

.business-plan-container{
    width: 500px;
    height: 390px;
    margin-top: 60px;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.above-sentence-max-container{
    display: flex;
    justify-content: center;
    width: 500px;
}

.above-sentence{
    background-color: var(--clr-blue-light);
    border-radius: 10px;
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-17px);
}

.above-sentence h5{
    font-family: Poppins-Light;
    display: inline-block;
    color: white;
}

.business-plan-content .main-text{
    font-family: Poppins-M;
    font-size: 40px;
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.business-plan-content .main-text label{
    font-weight: bolder;
    color: var(--clr-blue-light);
}

.just-a-border{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.just-a-border .just-a-border-2{
    width: 45%;
    height: 100%;
    border-bottom: 2px solid rgb(185, 185, 185);
}

.middle-texts-container{
    font-family: Poppins-M;
    color: gray;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    margin-top: 10px;
}

.middle-texts-container .middle-texts{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.button-FC-max-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.button-FC{
    font-family: Poppins-M;
    background-color: var(--clr-darker-blue-2);
    border-radius: 5px;
    color: white;
    padding: 15px 20px;
    transition: 0.25s;
    cursor: pointer;
}

.button-FC:hover{
    transform: scale(1.1);
}

.button-FC-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button-FC-content div{
    display: flex;
    margin-left: 10px;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: white;
    filter: invert(100%);
}

.button-FC-content img::selection{
    background: white;
}

.button-FC-content label{
    cursor: pointer;
}

.super-div{
    width: 100%;
    height: 1024px;
    background-color: coral;
}